extend ../layouts/base

include ../../components/menu/menu

block title
    | MIRTEK Dashboard

block main_title
    h1.h-hidden Dashboard

block menu
    +menu({
        title: '@just<strong>Free</strong>',
        list: [
            {
                active: true,
                url: '/',
                title: 'Home',
                icon: 'home',
                icon_modifier: 'icon--menu'
            },
            {
                active: false,
                url: '/',
                title: 'Time Management',
                icon: 'timeman',
                icon_modifier: 'icon--menu'
            },
            {
                active: false,
                url: '/',
                title: 'Inbox',
                icon: 'inbox',
                icon_modifier: 'icon--menu'
            },
            {
                active: false,
                url: '/',
                title: 'Calendar',
                icon: 'calendar',
                icon_modifier: 'icon--menu'
            },
            {
                active: false,
                url: '/',
                title: 'Analytics',
                icon: 'analytics',
                icon_modifier: 'icon--menu'
            },
            {
                active: false,
                url: '/',
                title: 'Settings',
                icon: 'settings',
                icon_modifier: 'icon--menu'
            },
        ],
    }, '')

block content




