extend ../layouts/base

include ../../components/input/input

block title
    | Example title

block main_title
    h1.h-hidden Testing

block content
    .container
        h1.testing Testing
        +input({
            type: 'input',
            placeholder: 'Введите адрес электронной почты',
            input_name: 'emailaddress'
        }, '')


