extend ../layouts/base

include ../../components/menu/menu
include ../../components/top-bar/top-bar
include ../../components/block-header/block-header

block title
    | MIRTEK Dashboard

block main_title
    h1.h-hidden Dashboard

block menu
    +menu({
        title: '@just<strong>Free</strong>',
        list: [
            {
                active: true,
                url: '/',
                title: 'Home',
                icon: 'home',
                icon_modifier: 'icon--menu'
            },
            {
                active: false,
                url: '/',
                title: 'Time Management',
                icon: 'timeman',
                icon_modifier: 'icon--menu'
            },
            {
                active: false,
                url: '/',
                title: 'Inbox',
                icon: 'inbox',
                icon_modifier: 'icon--menu'
            },
            {
                active: false,
                url: '/',
                title: 'Calendar',
                icon: 'calendar',
                icon_modifier: 'icon--menu'
            },
            {
                active: false,
                url: '/',
                title: 'Analytics',
                icon: 'analytics',
                icon_modifier: 'icon--menu'
            },
            {
                active: false,
                url: '/',
                title: 'Settings',
                icon: 'settings',
                icon_modifier: 'icon--menu'
            },
        ],
    }, '')

block content
    +top-bar()

    .block.block--top
        +block-header({
            title: 'Hi Filip,',
            subtitle: 'Checkout your latest projects and their progress.',
        }, '')

    .block.block--middle
        +block-header({
            title: 'Crunch some Numbers',
            subtitle: 'See how your projects are progressing via the new statistics engine.',
            options: {
                title: 'Timeline:',
                name: '7 days',
                modifier: 'block-header__option-select'
            }
        }, '')

    .block.block--bottom
        +block-header({
            title: 'Current Progress',
            subtitle: 'This table will show you how your current projects are behaving.',
        }, '')

    .block.block--top
        +block-header({
            title: 'Crunch some Numbers',
            subtitle: 'See how your projects are progressing via the new statistics engine.',
            options: {
                title: 'Timeline:',
                name: '7 days',
                modifier: 'block-header__option-select'
            }
        }, '')


