.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  max-width: 230px;
  background-color: $color-menu;
  height: 100%;

  &__wrap {
    height: inherit;
    display: flex;
    flex-flow: column nowrap;
  }

  &__head {
    background-color: $color-blue;
    color: #FFFFFF;
    height: $header-height;
    display: flex;
    align-items: center;
    justify-content: center;

    &-title {
      font-family: 'Kanit', sans-serif;
      font-size: $font-size-l2;
    }
  }

  &__nav {
    max-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0;
  }


  &__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--color-text);
    margin-left: 16px;
    width: 100%;
  }

  &__item {
    padding: 23px 21px;
    width: 100%;
    position: relative;
    cursor: pointer;
    transition: background-color .2s ease-out;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);

    & .icon--menu {
      transition: color .2s ease-out;
    }

    &--active {
      background-color: $color-menu--active;
      color: #FFFFFF;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: $color-menu--hover;
        color: #FFFFFF;
      }
    }

    @media (hover: none) and (pointer: coarse) {
      &:hover {
        background-color: #F1606310;

        .side-menu__link {
          color: var(--color-red-juice);
        }
      }
    }
  }
}

.menu {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  float: none;
  display: flex;
  height: var(--header-height);
  background: var(--color-main);
  padding: 0;
  box-sizing: border-box;
  z-index: 8;

  &--landing {
    background: transparent;

    .menu__link {
      color: #FFFFFF;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &--main {
    background-color: var(--color-bg-primary);

    .menu__index {
      display: none;
    }

    .menu__wrap,
    .menu__action-list {
      border-bottom: 1px solid rgba(56, 56, 56, .4);
    }
  }

  &__wrap {
    flex: 0 1 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logotype {
    flex: none;
    margin-right: 12px;
    font-size: 18px;
    line-height: 100%;
    white-space: nowrap;
    font-weight: 300;
    user-select: none;
  }

  &__list,
  &__action-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item,
  &__action-item {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 40px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__action-list {
    flex: 1 0;
    justify-content: flex-end;
    padding-left: 20px;
  }

  &__action-item {
    margin-left: 20px;

    &--search {
      &-active {

        .menu__action-input {
          opacity: 1;
          pointer-events: auto;
          cursor: initial;
          user-select: initial;
        }
      }
    }
  }

  &__action-form {
    display: inline-flex;
    align-items: center;
    height: var(--header-height);
    cursor: pointer;
    outline: none;
    box-sizing: border-box;

    & .icon {
      transition: color 0.3s;
    }

    @media (hover: hover) and (pointer: fine) {
      & .icon:hover {
        color: #38383880;
      }
    }
  }

  &__action-input {
    height: 25px;
    width: 285px;
    position: absolute;
    right: 16px;
    border: 1px solid rgba(56, 56, 56, .5);
    font-weight: 300;
    font-size: 12px;
    line-height: 100%;
    padding: 6px 9px;
    margin-right: 16px;
    opacity: 0;
    pointer-events: none;
    cursor: none;
    user-select: none;
    transition: all .2s ease-out;
  }

  &__link,
  &__action-link {
    position: relative;
    display: flex;
    align-items: center;
    height: var(--header-height);
    background-color: transparent;
    border: none;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 136.02%;
    color: var(--color-text);
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: #38383880;
      }

      &--active:hover::after {
        background-color: rgba(56, 56, 56, 0.5);
      }
    }
  }

  &__link--active::after {
    content: '';
    position: absolute;
    bottom: 27px;
    width: 100%;
    height: 2px;
    background-color: var(--color-juice);
    transition: background-color .2s ease-out;
  }

  &__action-link {
    height: auto;
    position: relative;
  }

  &__link-counter {
    position: absolute;
    right: -0.7em;
    bottom: -0.85em;
    min-width: 13px;
    min-height: 13px;
    display: inline-block;
    background-color: #6C6C6C;
    color: var(--color-main);
    border-radius: 20px;
    font-weight: normal;
    font-size: 8px;
    line-height: 13px;
    text-align: center;
    padding: 0 4px;
    box-sizing: border-box;
    white-space: nowrap;
  }

  &__contacts {
    display: flex;
    margin-left: 12px;
    transition: opacity .14s ease-out;

    &-item {
      display: flex;
      flex-flow: row-reverse nowrap;
      align-items: center;
      white-space: nowrap;
      font-weight: 300;
      font-size: 15px;
      line-height: 130%;

      .menu__contacts-icon {
        margin-right: 4px;
        width: 17px;
        height: 17px;
      }
    }
  }
}

@media (max-width: 1170px) {
  .side-menu {
    &__logotype {
      margin: 0 12px 23px 12px;
    }

    &__item {
      padding: 12px 12px;
    }
  }
}