.icon {
  flex: none;
  width: 24px;
  height: 24px;

  &--small {
    width: 16px;
    height: 16px;
  }

  &--medium {
    width: 32px;
    height: 32px;
  }

  &--menu {
    width: 16px;
    max-height: 16px;
  }

  &--notifications {
    width: 16px;
    max-height: 16px;
    color: #4F5F6F;
  }

  &--search-bar {
    width: 18px;
    height: 18px;
  }

  &--select-arrow {
    width: 10px;
    height: 6px;
  }
}


