/**
 * 
 *
 * @author Tatevosyan Artem (@teqst)
 */

.top-bar {
  height: $header-height;
  background-color: $color-tbar;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 33px;

  &__burger {
    background-color: $color-blue;
    border-radius: 50%;
    color: #FFFFFF;
    width: 40px;
    height: 40px;
    transition: opacity .2s ease-out;
    display: none;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        opacity: .8;
      }
    }
  }
}

@media (max-width: $mobile) {
  .top-bar {
    padding: 15px;

    &__burger {
      display: flex;
    }
  }
}