html,
body {
  min-width: 320px;
  background-color: $color-main;
  color: $color-text;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body {
  font-family: $font-family;
  font-size: $base-font-size;
  font-weight: 400;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

html.scroll-disable,
html.scroll-disable body {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  touch-action: none;
  overflow: hidden;
}

a {
  color: $color-text;
  text-decoration: none;
  transition: all 0.3s;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

h1, h2, h3 {
  font-weight: 700;
}

button {
  outline: none;
}

.wrapper--main {
  position: relative;
  z-index: 1;
  margin-left: 230px;


  @media (max-width: $mobile) {
    & {
      margin-left: 0;
    }
  }
}

.block {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0;

  &--top {
    margin-top: 52px;
  }

  &--bottom {
    margin-top: 50px;
  }

  &--middle {
    margin-top: 64px;
  }
}

.divider {
  opacity: .4;
  background-color: $color-divider;

  &--y {
    height: 24px;
    width: 2px;
  }

  &--x {
    height: 2px;
    width: 100%;
  }
}

.container {
  margin: 0 20px;
}


.title {
  font-size: 21px;
  line-height: 130%;
  text-align: left;
  color: $color-text;
}

.subtitle {
  font-size: 12.5px;
  letter-spacing: .13px;
  text-align: left;
  color: $color-text-secondary;
}