/*Colors*/

$color-text: #37474f;
$color-text-secondary: #78909c;

$color-main: #f5f5f5;
$color-divider: #bcc7d3;

$color-menu: #37474f;
$color-menu--active: #df468e;
$color-menu--hover: #455a64;

$color-tbar: #e0e0e0;
$color-blue: #4C6FFF;



/*Font settings*/

$font-family: "Avenir Next LT Pro", sans-serif;
$base-font-size: 14px;
$font-size-l1: 21px;
$font-size-l2: 18px;

/*Fixed sizes*/

$header-height: 70px;

/*Breakpoints*/

$desktop-lg: 1550px;
$tablet: 1160px;
$mobile: 650px;