mixin profile-card(data, modifier)
    .profile-card(class= data.title ? 'profile-card--header ' + modifier : modifier)
        if data.title || data.subtitle
            .profile-card__header
                .title!= data.title
                .subtitle!= data.subtitle

        if block
            block
